<form>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Name</span>
        <input type="text" class="form-control" placeholder="Name" ng-model="listadd.productName"
               aria-describedby="addon-wrapping">
        <button type="button" ng-click="search($event)">SEARCH</button>
    </div>
    <br>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">PRICE</span>
        <input type="text" class="form-control" placeholder="PRICE" ng-model="listadd.price"
               aria-describedby="addon-wrapping">
    </div>
    <br>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">QUANTITY</span>
        <input type="text" class="form-control" placeholder="QUANTITY" ng-model="listadd.quantity"
               aria-describedby="addon-wrapping">
    </div>
    <br>
    <button type="button" ng-click="addProduct($event)" onclick="return confirm('Xac nhan')" class=" btn btn-success
    ">Success
    </button>
    <button type="button" ng-click="update($event)" class="btn btn-success">UPDATE</button>
</form>
<table class="table table-bordered table-hover" ng-if="listProduct.length > 0">
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>QUANTITY</th>
        <th>ACTION</th>
    </tr>
    <tr ng-repeat="x in listProduct">
        <td>{{$index+1}}</td>
        <td>{{x.productId}}</td>
        <td>{{x.productName}}</td>
        <td>{{x.price}}</td>
        <td>{{x.quantity}}</td>
        <td><a href="#delete/{{x.productId}}" class="btn btn-warning" onclick="return confirm('Xac nhan')">DELETE</a>
            <a ng-click="detail($event,$index)" class="btn btn-info">DETAIL</a></td>
    </tr>
</table>
<div class="text-center" ng-if="listProduct.length === 0">
    <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<br>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" ng-click="previoutPage()">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#"> {{trangSo + 1}} / {{tongTrang}}</a></li>
        <li class="page-item">
            <a class="page-link" ng-click="nextPage()">Next</a>
        </li>
    </ul>
</nav>
