# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\TAI_LIEU_HOC_TAP\JAVA_6\Du_an_Springboot_AngularJs\fornt-end\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
